.story-card {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #000000;
    position: relative;
    color: white;
    padding: 3.5rem 0;
    z-index: -2;

}


.card-content-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2.4rem;
    margin: auto;
    max-width: calc(100% - 3rem);
    text-align: center;
}

.story-card-main-title {
    font-size: 1.8rem;
    font-family: "NetflixBold";
}

.story-card-subtitle {
    font-size: 1.125rem;
    font-family: "NetflixLight";
    margin: 1rem 0 0;
}

.card-text-container {
    flex-basis: 50%;
    order: 1;
}

.card-media-container {
    flex-basis: 50%;
    order: 2;
    position: relative;
}

.multi-media-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.multi-media-container video,
.multi-media-container img {
    max-width: 100%;
    max-height: 100%;

}

.tv-container {
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 76%;
    max-height: 70%;
    position: absolute;
    top: 11%;

}



@media(min-width: 112em) {

}


@media(min-width: 37.5em) {
    .story-card {
        padding: 4.5rem 0;
    
    }

    .card-content-container {
        max-width: calc(100% - 4rem);
    }
}


@media(min-width: 50em) {
    .story-card-main-title {
        font-size: 2.8rem;
    }
    
    .story-card-subtitle {
        font-size: 1.4rem;
    }
    
    .card-content-container {
        flex-direction: row;
        text-align: left;
    }
}


@media (min-width: 60em){

    
}

@media (min-width: 70em){
    .story-card-main-title {
        font-size: 3rem;
    }
    
    .story-card-subtitle {
        font-size: 1.5rem;
    }

    .card-content-container {
        max-width: calc( 83.33333333333334% - 6rem );
    }
    
}