:root {
    --home-page-navbar-bg-color: #272727;
    --home-page-navbar-img: url('../../../assets/homePageNavBarBackground.png');
    --home-page-navbar-height: 5rem;
    --home-page-navbar-side-padding: 4vw;

    --home-page-nav-menu-cover-bg-color: rgba(0, 0, 0, 0.5);
    --home-page-nav-menu-bg-color: #0f0f0f;
    --home-page-nav-menu-border: 2px solid var(--default-f1-red);

    --home-page-nav-menu-open-transition: grid-template-rows ease-in-out 0.2s, opacity ease-out 0.2s;
    --home-page-nav-menu-close-transition: grid-template-rows ease-out 0.2s, opacity ease-in-out 0.2s;
}

.home-page-navigation-bar-container {
    background-color: var(--home-page-navbar-bg-color);
    background-image: var(--home-page-navbar-img);
    background-repeat: repeat;
    height: 5rem;
    padding: 0 var(--home-page-navbar-side-padding);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    z-index: 10;
    user-select: none;
}

/* .home-page-menu-cover {
    background-color: var(--home-page-nav-menu-cover-bg-color); 

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5; 
} */

.home-page-navbar-main-logo {    
    height: 1.5rem;
    width: 5.55rem;
}

.home-page-nav-menu.small-screen .home-page-nav-menu-options-wrapper {
    display: flex;
    flex-direction: column;
}

.home-page-nav-menu.large-screen .home-page-nav-menu-options-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.home-page-navbar-main-logo,
.home-page-nav-menu-option,
.home-page-nav-menu-toggle {
    cursor: pointer;
}

.home-page-nav-menu-option-img {
    height: 1.6rem;
}

.home-page-nav-menu.small-screen {
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    background-color: var(--home-page-nav-menu-bg-color);
}

/* MEDIA */

@media (min-width: 30em) {
    .home-page-navbar-main-logo {
        height: 2rem;
        width: 7.25rem;
    }
}
  
@media (min-width: 50em) {
    .home-page-navigation-bar-container .nav-option-active {
        font-weight: bold;
        color: var(--default-f1-red);
    }

    .home-page-navbar-main-logo {
        height: 2.5rem;
        width: 9.25rem;
    }

    .home-page-nav-item:first-child {
        flex-grow: 1; 
    }
      
    .home-page-nav-item:last-child {
        flex-grow: 6; 
    }
}

@media (min-width: 70em) {
    .home-page-navigation-bar-container {
        font-size: 1.2rem;
    }
}

@media (max-width: 50em) {
    .home-page-nav-menu.small-screen {
        display: grid;
        grid-template-rows: 0fr;
        transition: var(--home-page-nav-menu-open-transition);
        opacity: 0;
    }

    .home-page-nav-menu.small-screen.open {
        grid-template-rows: 1fr;
        opacity: 1;
        z-index: 10;
    }

    .home-page-nav-menu.small-screen:not(.open) {
        opacity: 0;
        grid-template-rows: 0fr;
        transition: var(--home-page-nav-menu-close-transition)
    }
    
    .home-page-nav-menu.small-screen > .home-page-nav-menu-options-wrapper {
        overflow: hidden;
    }

    .home-page-nav-menu-option {
        /* navbar-side-padding fele-fele */
        padding-right: 2vw;
        margin-right: 2vw;

        padding-bottom: 0.5rem;
        margin-top: 0.8rem;
        margin-bottom: 0.8rem;
        margin-left: var(--home-page-navbar-side-padding);

        /* menu option border settings */
        border-bottom: var(--home-page-nav-menu-border);
        border-right: var(--home-page-nav-menu-border);
        border-bottom-right-radius: 1rem;
  
        font-size: 1.1rem;
        overflow-wrap: anywhere;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .home-page-nav-menu-option:last-child {
        margin-bottom: 1.2rem;
    }
}


