.home-page-container {
    color: white;
    background-color: #0F0F0F;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: "Formula1_Regular";
    font-size: 2rem;
}

.home-page-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 100vh;
}