.home-page {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    font-family: "Formula1_Regular";
    font-size: 2rem;
}

.home-page-test {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}