

.home-page-footer-container {
    max-width: 80rem;
    margin: 3rem auto;
    color: rgba(255, 255, 255, 0.840);
    font-size: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}


.home-page-footer-logo {
    width: 8rem;
}

.home-page-footer-redirect-links-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1rem;
    text-align: center;

}

.home-page-footer-redirect-links-container a{
    color: rgba(255, 255, 255, 0.7);
    text-decoration: underline;
}

.home-page-footer-redirect-links-container a:hover{
    cursor: pointer;
}

.home-page-footer-redirect-links-container a:active{
    color: red;
}

.home-page-footer-copyright-container {
    font-size: 0.8rem;
}

/* MEDIA */ 

@media (min-width: 20em) {
    .home-page-footer-redirect-links-container{
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        width: 90%;
        text-align: center;
    }

    .home-page-footer-redirect-links-container a:nth-child(odd) {
        text-align: left;
    }

    .home-page-footer-redirect-links-container a:nth-child(even) {
        text-align: right;
    }


    .home-page-footer-logo {
        width: 10rem;
    }
}





