.main-page-supported-devices-container {
    color: white;
    font-size: 1rem;
    text-align: center;
    padding: 3.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: calc(100% - 3rem);
    margin: auto;
    gap: 1rem;
}

.main-page-supported-devices-title h2 {
    font-size: 1.8rem;
    font-family: "NetflixBold";
}

.main-page-supported-devices-logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    width: 100%;
    margin: 1.4rem 0 0;
}

.main-page-supported-device {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

.main-page-device-logo-image {
    max-width: 60%;
}

.main-page-device-logo-description {
    font-size: 1.125rem;
    height: 3rem;
}

/* MEDIA */

@media (min-width: 37.5em) {
    .main-page-supported-devices-container {
        max-width: calc(100% - 4rem);
        font-size: 1.2rem;
        padding: 4.5rem 0;
    }
}

@media (min-width: 50em) {
    .main-page-supported-devices-title h2 {
        font-size: 2.8rem;
    }

    .main-page-device-logo-description {
        font-size: 1.4rem;
    }
}