.story-card {
    width: 100%;
    min-height: 36rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0b0b0b;
    position: relative;
    color: white;


}



@media (min-width: 50em){
    .story-card {
        min-height: 40rem;
    
    }


}


@media (min-width: 70em){
    .story-card {
        min-height: 50rem;
    
    }


    
}

@media (min-width: 80em){
    .story-card {
        min-height: 50rem;
    
    }
    
}

