.navigation-bar {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    gap: 0.6rem;
    width: 100%;
    height: 5rem;
    padding: 0 1rem;
    font-family: "NetflixMedium";
    font-size: 0.875rem;
    /*
    margin: 0 4rem;
    position: relative;
    z-index: 1;*/
    position: absolute;

}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.item-container-1 {
    justify-content: flex-start;
    flex-grow: 2;
}

.item-container-2 {
    background-color: rgba(138, 138, 138, 0.4);
    border: 2px solid black;
    border-right: 0px;
    flex-grow: 1;
}

.item-container-3 {
    /*
    background-color: rgba(138, 138, 138, 0.4);
    border: 2px solid black;
    flex-grow: 2;
    */
 
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: fit-content;
    height: 100%;
}

.explore-button {
    background-color: rgb(229, 9, 20);
    color: white;
    transition-duration: 250ms;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
    flex-grow: 0;
    flex-basis: 2rem;
    padding: 0.25rem 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    user-select: none;
}

.explore-button:hover{
    cursor: pointer;
    background-color: rgb(184, 8, 17);


}

img {    
    height: 1.5rem;
    width: 5.55rem;
    user-select: none;

}

@media (min-width: 10em){

}


@media (min-width: 30em) {
    img {
        height: 2rem;
        width: 7.25rem;
    }

    .navigation-bar {
        padding: 0 2.4rem;
    }

    .item-container-1 {
        flex-grow: 2;
    }
    
    .item-container-2 {
        flex-grow: 1;
    }
    
    .item-container-3 {
        /*flex-grow: 1;*/
    }
    

}

@media (min-width: 40em) {


}
  
@media (min-width: 50em) {


    .item-container-1 {
        flex-grow: 3;

    }
    
    .item-container-2 {
        flex-grow: 0;
        flex-basis: 10rem;
    }
    
    .item-container-3 {
        /*
        flex-grow: 0;
        flex-basis: 10rem;
        */
    }


    img {
        height: 2.5rem;
        width: 9.25rem;
    }
  }



  
@media (min-width: 58em) {
    .navigation-bar {
        padding: 0 7rem;
    }
}