.result-selector-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    min-height: 4.2rem;

    /* font-size: clamp(1rem, 6vw, 1.2rem); */
    font-size: 0.6em;
}

.result-selector-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: clamp(16rem, 40vw, 80rem);
    margin: 0 1em;
}

.result-selector-arrow-icon-container {
    background-color: #D81515;
    border-radius: 50%;
    padding: 0.3em 0.5em;
}

.result-selector-arrow-icon-container:hover {
    cursor: pointer;
}

.result-selector-arrow-icon {
    width: 1.1em;
}

.result-selector-arrow-icon.left {
    margin-top: 0.1em;
    margin-right: 0.1em;
}

.result-selector-arrow-icon.right {
    margin-top: 0.1em;
    margin-left: 0.1em;
}

.result-selector-item {
    text-align: center;
    user-select: none;
    padding: 0.2em;
}

.result-selector-item:hover {
    cursor: pointer;
}

.result-selector-item.active,
.result-selector-item.inactive {
    position: relative;
}

.result-selector-item.active::after,
.result-selector-item.inactive::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; 
    height: 0.2em;
    background-color: #D81515; 
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    transform: translateY(0.2em);
}

.result-selector-item.inactive::after {
    width: 0; 
    opacity: 0;
    transition: width 0.175s, opacity 0.225s; /* Add a transition for the width property */
}

.result-selector-item.inactive:hover::after {
    opacity: 1;
    width: 100%;
}


/* MEDIA */


@media (min-width: 18.75em) {
    .result-selector-items {
        margin: 0;
    }
}

@media (min-width: 60em) {
    .result-selector-items {
        width: 80rem;
        justify-content: space-evenly;
    }
}