.driver-standings-table-container {
    border: 0.1em solid #D81515;
    border-radius: 0.8em;
    padding: 0.6em;
    margin: 1em 0.3em;
    position: relative;
    font-size: 1em;
}

.driver-standings-table-title {
    font-size: 0.775em;
    background-color: #0F0F0F;
    margin-bottom: 0.6em;
}

.driver-standings-table-header,
.driver-standings-table-content-item {
    font-size: 0.5em;
    display: grid;
    grid-template-columns: 0.8fr 4fr 1fr;
    align-items: center;
    width: 100%;
}

.driver-standings-table-header {
    margin: 0.4em 0;
    background-color: #a70606;
    border-radius: 0.4em;
    padding: 0.8em 0.4em;
}

.driver-standings-table-content-item {
    margin-bottom: 0.2em;
    border-radius: 0.4em;
    padding: 1em 0.4em;
}

.driver-standings-table-content-item:nth-child(even) {
    background-color:#181818;
}

.driver-standings-table-header-item.driver,
.driver-standings-table-header-item.nationality,
.driver-standings-table-header-item.car,
.driver-standings-table-header-item.points,
.driver-standings-driver-nationality,
.driver-standings-driver-car,
.driver-standings-driver-points {
    text-align: center;
}

.driver-standings-driver-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4em;
}

.driver-standings-helmet-icon {
    display: none;
    width: 1.2em;
}

.info-text {
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.6em;
    margin: 1em 0 0.6em;
}

/* MEDIA */

@media (min-width: 18.75em) {
    .driver-standings-table-title {
        position: absolute;
        top: -0.75em;
        left: -0.2em;
        padding-bottom: 0.4em;
        padding-right: 0.4em;
        margin: 0;
    }

    .driver-standings-table-header,
    .driver-standings-table-content-item {
        grid-template-columns: 1fr 4fr 1fr;
    }

    .driver-standings-helmet-icon {
        display: block;
    }
}

@media (min-width: 30em) {
    .driver-standings-table-container {
        margin: 1em 0.6em;
    }

    .driver-standings-table-title {
        font-size: 0.9em;
        padding-bottom: 0.6em;
        padding-right: 0.6em;
    }

    .driver-standings-table-header,
    .driver-standings-table-content-item {
        font-size: 0.6em;
    }    
    
    .driver-standings-table-header {
        margin-top: 1em;
    }

    .driver-standings-table-header-item.driver {
        text-align: left;
    }

    .driver-standings-helmet-icon {
        width: 1.7em;
    }
}

@media (min-width: 50em){
    .driver-standings-table-container {
        margin: 1.6em 1em;
    }
}

@media (min-width: 60em) {
    .driver-standings-table-header,
    .driver-standings-table-content-item {
        grid-template-columns: 0.8fr 3fr 3fr 3fr 1fr;
    }

    .driver-standings-helmet-icon {
        width: 1.85em;
    }

    .driver-standings-table-title {
        font-size: 1em;
    }    
}