.main-page-main-card-container {
    width: 100%;
    min-height: 36rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0b0b0b;
    position: relative;
    color: white;
}

.main-page-main-card-background {
    position: absolute;
    width: 100%;
    height: 100%;
}

.main-page-main-card-background img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.main-page-main-card-color {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 40%);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
}

.main-page-main-card-text-container {
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0 2rem;
    padding-top: 8rem;
    padding-bottom: 4rem;
}

.main-page-main-card-title-container {
    text-align: center;
}

.main-page-main-card-title {
    font-size: 1.8rem;
    font-family: "NetflixBold";
}

.main-page-main-card-subtitle {
    font-size: 1.125rem;
    font-family: "NetflixMedium";
    margin: 1rem 0 0;
}

.main-page-main-card-first-steps-container {
    margin: 1.5rem 0 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.main-page-main-card-email-form-title {
    font-family: "NetflixMedium";
    font-size: 1.125rem;
}

@media (min-width: 22em) {
    .main-page-main-card-text-container {    
        padding-bottom: 2rem;
    }
}

@media (min-width: 50em) {
    .main-page-main-card-container {
        min-height: 40rem;
    }

    .main-page-main-card-title {
        font-size: 2.8rem;    
    }

    .main-page-main-card-subtitle {
        font-size: 1.4rem;
        font-family: "NetflixMedium";
        margin: 1rem 0 0;
    }
}

@media (min-width: 70em) {
    .main-page-main-card-container {
        min-height: 50rem;
    }

    .main-page-main-card-title {
        font-size: 3rem;    
    }

    .main-page-main-card-subtitle {
        font-size: 1.5rem;
        font-family: "NetflixMedium";
        margin: 1rem 0 0;
    }    
}

@media (min-width: 80em) {
    .main-page-main-card-container {
        min-height: 50rem;
    }      
}


