.main-page-language-selector-container {
    display: inline-flex;
    font-family: "NetflixMedium";
    font-size: 0.875rem;
    color: white;
}

.main-page-language-selector {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative; 
    background-color: rgba(63, 63, 63, 0.4);
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 0.25rem;

}

.main-page-language-world-icon {
    position: absolute;
    left: 0.7rem;
    pointer-events: none;
}

.main-page-language-select {  
    all: unset;
    width: 0.0625rem;
    padding: 0.5rem 1.9rem;
}

.main-page-language-select option  {
    background-color: black;
}

.main-page-selector-icon {
    position: absolute;
    right: 0.7rem;
    pointer-events: none;
}

/* MEDIA */

@media (min-width: 40em) {
    .main-page-language-select {  
        width: fit-content;
        max-width: 8rem;
    }

    .main-page-language-world-icon {
        left: 0.4rem;
    }

    .main-page-selector-icon {
        right: 0.4rem;
    }
}
  