.main-page-navigation-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    padding: 0 1rem;
    font-family: "NetflixMedium";
    font-size: 0.875rem;
    position: absolute;
}

.main-page-nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    height: 100%;
}


.main-page-navbar-main-logo {    
    height: 1.5rem;
    width: 5.55rem;
    user-select: none;
}


/* MEDIA */

@media (min-width: 30em) {
    .main-page-navigation-bar-container {
        padding: 0 2.4rem;
    }

    .main-page-navbar-main-logo {
        height: 2rem;
        width: 7.25rem;
    }
}
  
@media (min-width: 50em) {
    .main-page-navigation-bar-container {
        padding: 0 7rem;
    }

    .main-page-navbar-main-logo {
        height: 2.5rem;
        width: 9.25rem;
    }    
}
