.container{
    display: flex;
    flex-direction: column;
    width: 100%; /* 150% majd overflow nem volt és a width 100% volt nem csak mediaquery utan */
    overflow-x: auto;
}


header {
    position: relative;
    z-index: 1;
    display: block;
}

footer {
    background-color: black;
    background: linear-gradient(0deg, rgb(23, 23, 23) 0%, rgba(5,5,5,0.9150035014005602) 40%, rgba(0,0,0,0.48363095238095233) 100%);
}

.tmp-results{
    color: white;
}

.arrow-container {
    position: fixed;
    bottom: 3.2rem; /* 2 rem */
    right: 1.8rem;
    z-index: 1000;
    background-color: rgb(184, 8, 17);
    border-radius: 50%;
    width: 3.6rem; /*used to be 60px*/
    height: 3.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .arrow-container:hover {
    cursor: pointer;
    background-color: rgb(229, 9, 20);
  }

  .arrow-container img {
    max-width: 60%;
    user-select: none;
  }
  



@media (min-width: 20em) {
    /*
    .container{
        width: 100%;
    }
    */
}

@media (min-width: 50em) {
    
    .arrow-container {
        /*bottom: 3rem;*/
        right: 2.8rem;
        width: 4rem; 
        height: 4rem;
    }
}




@media (min-width: 70em) {
    .arrow-container {
        /*bottom: 4rem;*/
        right: 3.8rem;
        width: 5rem; 
        height: 5rem;
    }
}

