@font-face {
  font-family: 'NetflixBold';
  src: url('./fonts/Netflix_Sans_Bold.otf') format('truetype');
}

@font-face {
  font-family: 'NetflixMedium';
  src: url('./fonts/Netflix_Sans_Medium.otf') format('truetype');
}

@font-face {
  font-family: 'NetflixLight';
  src: url('./fonts/Netflix_Sans_Light.otf') format('truetype');
}

@font-face {
  font-family: 'Formula1_Regular';
  src: url('./fonts/Formula1_Regular.ttf') format('truetype');
}

:root {
  --default-f1-red: #ee0000;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  font: inherit;

}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  border: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button, a {
  all: unset;
}

svg {
  display: block;
  padding: 0;
  margin: 0;
  max-width: 100%;
  max-height: 100%;
}

input {
  background-color: rgba(0,0,0, 0.2);
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%; 

  font-family: "NetflixLight";
  overflow-x: auto;
}

