*, *::before, *::after {
  box-sizing: border-box;
}

* {
  font: inherit;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;

}

.navigation-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: lightblue;
  height: 5rem;
  margin: 0 1.5rem;
}

.data-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}



@media (min-width: 50em) {
  .navigation-bar {
      margin: 0 2rem;
  }

  .data-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
