.results-page-container{
    color: white;
    display: flex;
    flex-direction: column;
 
    font-family: "Formula1_Regular";
    font-size: 2rem;

}

.results-page-content {
    background-color: #0F0F0F;
    max-width: 80rem;
    width: 100%;

}

.component-content {
    display: none;
}

.component-content.visible {
    display: block;
}


@media (min-width: 60em) {
    .results-page-content {
        margin: 0 auto;
    
    }
}








/* 
.results-page-content {
    background-color: #0F0F0F;
    padding: 1rem;
    border-radius: 0.8rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    font-size: 1.2rem;
    max-width: 80rem;
    margin: 1rem;
}

@media (min-width: 30em) {
    .results-page-content {
        margin: 1rem auto;
    }

}
 */

