.main-page-cards {}

.data-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.standings-demo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1.5rem;

    /*background-color: red;*/
   

    background: radial-gradient(ellipse 20rem 16rem at center , rgb(39, 39, 39) 0%, rgba(0, 0, 0, 0) 60%);


    gap: 3rem;

  }

  

@media (min-width: 50em){

    .standings-demo-container {
   
        background: radial-gradient(ellipse 24rem 18rem at center , rgb(39, 39, 39) 0%, rgba(0, 0, 0, 0) 60%);
  

    
      }


    .data-container {
        grid-template-columns: repeat(2, 1fr);
      }




}
